@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Book

<!--List out each item in it's own separate card with some shadow effects-->
<div class="card m-2 p-2" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)">
    <h2 class="fst-italic">@Model.Title</h2>
    <h4>by @Model.Author</h4>
    <p>ISBN: @Model.ISBN</p>
    <ul>
        <li>@Model.Classification @Model.Category</li>
        <li>Publisher: @Model.Publisher</li>
        <li>Page Count: @Model.PageCount</li>
    </ul>
    <h3>$@Model.Price</h3>
</div>